<div>
  <div class="row">
    <!-- Comment body -->
    <div class="col-xs-10">
      <blockquote>
        <!-- Comment.text -->
        <p ng-bind="comment.text"></p>
        <footer ng-bind="comment.authorName" ng-show="comment.authorName"></footer>
      </blockquote>
    </div>
    
    
    <!-- Comment likes view -->
    <div class="col-xs-2 text-right likes-container">
        
        <!-- 'Like' button -->
        <div class="btn-block like-button"
            ng-click="!comments.in('liking', comment) && comments.like(comment)">
          <span class="glyphicon glyphicon-thumbs-up"
            ng-class="{
              'text-success': !comments.in('liking', comment),
              'text-muted': comments.in('liking', comment),
            }"
          ></span>
        </div>
        
        <!-- Comment.likes counter -->
        <h4 class="btn-block"
            ng-class="{
              'text-success': comment.likes > 0 && !comments.in('liking', comment),
              'text-danger': comment.likes < 0 && !comments.in('liking', comment),
              'text-muted': comments.in('liking', comment),
            }">
          <span ng-bind="comment.likes">0</span>
        </h4>
            
        <!-- 'Dislike' button -->
        <div class="btn-block like-button"
            ng-click="!comments.in('liking', comment) && comments.dislike(comment)">
          <span class="glyphicon glyphicon-thumbs-down"
            ng-class="{
              'text-warning': !comments.in('liking', comment),
              'text-muted': comments.in('liking', comment),
            }"
          ></span>
        </div>
        
    </div>
  </div>
  
  <footer class="row">
    <div class="col-sm-8">
      <!-- Comment.date -->
      <footer class="text-muted">
        <span ng-bind="comment.createdAt | date:'short'"></span>
        <span ng-bind-template="(updated at {{comment.updatedAt | date:'short'}})" ng-show="comment.isUpdatedAfterCreate()"></span>
      </footer>
    </div>
    
    <div class="col-sm-4 text-right">
      <div class="btn-group">
        <!-- 'Edit' action button -->
        <button class="btn btn-default btn-sm"
            ng-disabled="comments.in('deleting', comment) || comments.in('saving', comment)"
            ng-click="comments.edit(comment)">
          <span class="text-muted">
            <span class="glyphicon glyphicon-edit"></span>
            <span>Edit</span>
          </span>
        </button>
        
        <!-- 'Delete' action button -->
        <button class="btn btn-default btn-sm"
            ng-disabled="comments.in('deleting', comment)"
            ng-click="comments.delete(comment)">
          <span class="text-warning">
            <span class="glyphicon glyphicon-floppy-remove"></span>
            <span>Delete</span>
          </span>
        </button>
      </div>
    </div>
    
  </footer>
</div>
