<form
    name="commentEditForm">

  <!-- Comment.text -->
  <div class="row">
    <div class="col-xs-12"
        ng-class="{
          'has-error': commentEditForm.text.$invalid && commentEditForm.text.$dirty,
        }">
      <textarea class="form-control"
          name="text" rows="4"
          required
          autofocus
          placeholder="Write your awesome comment here"
          ng-model="comment.text">
      </textarea>
    </div>
  </div>
  
  <app-space-filler></app-space-filler>
  
  <!-- Comment.authorName -->
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group"
          ng-class="{
            'has-error': commentEditForm.authorName.$invalid && commentEditForm.authorName.$dirty,
          }">
        <span class="input-group-addon">Name*:</span>
        <input class="form-control"
            name="authorName"
            placeholder="Pupkin"
            ng-disabled="!comment.isNew()"
            required
            pattern="[A-Za-z]+"
            min="2"
            ng-model="comment.authorName"/>
      </div>
    </div>
  </div>
  
  <app-space-filler></app-space-filler>
  
  <footer class="row">
    <div class="col-xs-6">
      <!-- 'Save' button -->
      <button class="btn btn-default btn-sm"
          ng-disabled="commentEditForm.$invalid || comments.in('saving', comment)"
          ng-click="comments.save(comment)">
        <span class="text-success">
          <span class="glyphicon glyphicon-ok"></span>
          <span ng-show="comment.isNew()">Post</span>
          <span ng-hide="comment.isNew()">Save</span>
        </span>
      </button>
    </div>
    
    <div class="col-xs-6 text-right">
      <!-- 'Cancel' button -->
      <button class="btn btn-default btn-sm"
          ng-if="!comment.isNew()"
          ng-disabled="comments.in('saving', comment)"
          ng-click="comments.cancel(comment)">
        <span class="text-danger">
          <span class="glyphicon glyphicon-remove"></span>
          <span>Cancel</span>
        </span>
      </button>
    </div>
  </footer>
</form>
